.App {
  text-align: center;
  padding: 20px 0;
  background: radial-gradient(circle at 10% 20%, rgb(191, 226, 228) 0%, rgb(213, 230, 224) 100.2%);
}

.App h1 {
  color: rgb(31, 80, 109);
  padding: 20px;
  margin-bottom: 15px;
}

.App footer {
  padding: 20px;
}
