.App {
  text-align: center;
  padding: 20px 0;
  background: radial-gradient(
    879px at 10.4% 22.3%,
    rgb(255, 235, 238) 0%,
    rgb(186, 190, 245) 93.6%
  );
}

.App h1 {
  color: rgb(34, 7, 78);
  padding: 20px;
  margin-bottom: 15px;
}

.App footer {
  padding: 20px;
}
