.App {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.App h1 {
  color: rgb(31, 80, 109);
  padding: 20px;
  margin-bottom: 15px;
}

.App footer {
  padding: 20px;
}
