.Noresults .main-noresults {
    width: 60%;
}

.Noresults .check {
    width: 5%;
}
.Noresults h3 {
    margin: 15px 20px;
    padding: 10px;
    color: white;
}

.Noresults p {
    color: white;
    margin: 14px 25px;
}