.Noresults .main-noresults {
    width: 60%;
}

.Noresults h3 {
    margin: 15px 20px;
    padding: 10px;
    color: white;
}

.Noresults p {
    color: white;
    margin: 14px 25px;
}
.Noresults ul {
    list-style: none;
    text-align: center;
    color: white;
}
.Noresults li {
    line-height: 1.8;
}
.Noresults i {
    color: white;
}