.Payroll {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  background-color: white;
  box-shadow: 1px 7px 36px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.Payroll h1 {
  margin: 20px;
}

.Payroll p {
  text-align: justify;
  margin: 10px 25px;
}

.Payroll .payroll-left {
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Payroll .payroll-left .form-input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Payroll .payroll-left label {
  text-align: left;
  padding: 7px 0;
  color: rgb(118, 123, 126);
}

.Payroll .payroll-left select {
  margin: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #409fbe;
}

.Payroll .payroll-left input {
  margin: 10px;
  padding: 12px;
  width: 90%;
  border-radius: 12px;
  border: 1px solid #409fbe;
}

.Payroll .payroll-left .btn-calculate {
  width: 60%;
  display: block;
  margin: 20px auto;
  padding: 15px 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(39, 199, 171) 0%,
    rgb(70, 143, 197) 90%
  );
  color: white;
  border: 1px solid white;
  border-radius: 28px;
  transition: all 200ms ease-in-out;
}

.Payroll .payroll-left i {
  color: white;
  background-color: #3aacb8;
  margin: 10px;
  padding: 12px 15px;
  padding-top: 15px;
  justify-content: center;
  border-radius: 15px;
}

.Payroll .payroll-left .btn-calculate:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
  color: #2c88a7;
}

.Payroll .payroll-right {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(39, 199, 171) 0%,
    rgb(70, 143, 197) 90%
  );
}
