.Results {
  color: white;
}

.Results .data-results {
  font-size: 18px;
  text-align: end;
}

.Results .tag-name {
  color: rgb(242, 242, 247);
  font-weight: 600;
  text-shadow: 4px 5px 24px rgba(31, 31, 78, 0.589);
  text-align: start;
}

.Results hr {
  color: rgb(41, 23, 105);
}

@media (max-width: 880px) {
  .Results .data-results,
  .Results .tag-name {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .Results .data-results,
  .Results .tag-name {
    font-size: 19px;
  }
}

@media (max-width: 453px) {
  .Results .data-results,
  .Results .tag-name {
    font-size: 14px;
  }
}
